@page "/whiskies"
@using BlazorApp.Models;
@using BlazorApp.Data;

<h1>Whiskies</h1>
<p>The water of the gods...</p>
@foreach (var model in WhiskyViewModels)
{
    <Whisky Model="@model" />
}

@code {
    private List<WhiskyViewModel> WhiskyViewModels = new();
    protected override void OnInitialized()
    {
        WhiskyViewModels = Data.GetWhiskies();
    }
}